@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  font-family: "Play", serif;
}

html,
body {
  scroll-behavior: smooth !important;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #bdc3c7;
}

body::-webkit-scrollbar-thumb {
  background-color: #d35400;
  border-radius: 5px;
}

/* header area */
.navbar-brand img {
  height: 50px;
}

/* .collapse {
  justify-content: center;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
} */

.header-outer {
  position: sticky;
  top: 0;
}

.back-to-top-outer {
  width: 50px;
  height: 50px;
  background-color: #d35400;
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 4px 4px 4px #34495e;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top-outer a {
  width: 50px;
  height: 50px;
  text-decoration: none;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.fa {
  font-size: 18px;
  color: white;
}

/* header area */

.outer {
  width: 100%;
  height: 500px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home area */
.home-outer {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(
      rgba(155, 154, 154, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://images01.nicepage.com/26/af/26afbfd6f4b0f7d2c0352d2c78f559db.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-text {
  color: white;
}

.header-text {
  color: white;
  line-height: 55px;
  font-weight: bold;
  font-size: 60px;
}

.home-widget-outer {
  margin-top: -120px;
}

.widget-outer {
  height: 350px;
  margin-bottom: 20px;
}

.widget-inner {
  width: 100%;
  height: 100%;
  border: 1px solid #bdc3c7;
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.5s;
}

.widget-inner:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.widget-inner-top {
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-inner-bottom {
  flex: 1;
  padding: 15px;
}

.widget-icon {
  width: 90px;
  height: 90px;
  background-color: #fe214f;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-icon svg {
  width: 80%;
  height: 80%;
}

.widget-header {
  text-align: center;
  margin-bottom: 30px;
}

.widget-desc {
  text-align: center;
  color: gray;
}
/* Home area */

/* Service area */

.service-outer {
  min-height: 750px;
  width: 100%;
  border: 1px solid red;
  background-image: url(https://images02.nicepage.com/c461c07a441a5d220e8feb1a/24af2a14af16514caf47360a/33581d05cec4a3308cd79979a51eed9d.jpeg);
  background-position: left;
}

/* Service area */
