@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  font-family: "Play", serif;
}

/* header area */
.navbar-brand img {
  height: 50px;
}
/* header area */

.outer {
  width: 100%;
  height: 500px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
